<app-spinner *ngIf="loading"></app-spinner>

<div class="row">
    <br>
    <div class="col-md-12"><h5 class="card-text" style="color: green"><i class="material-icons" >assignment_turned_in</i> PLUGINS APPROVED</h5>
    <br>
    </div>
</div>

<div class="row">
  <div class="col-md-3">
    <!--Panel 1-->
    <div class="card card-body mb-3">
      <div class="row">
        <div class="col-sm-12">
            <img class="" style="width: 100%" src="/assets/ethernet.png" />
        </div> 
      </div>
      <br>
      <h4 class="card-title mb-0"> Plugin: {{ plugin.name }} </h4>
      <p class="card-text">Version: {{ plugin.version }} by @{{ plugin.author }}</p>
      <p class="card-text">Description:<br>{{ plugin.description }}</p>
      <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-primary mt-0 mb-0" (click)="a" >Install</button>
      </div>
      <div class="col-sm-3">
          <button class="btn btn-primary mt-0 mb-0" (click)="a" >Edit</button>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary mt-0 mb-0" (click)="a" >Uninstall</button>
          </div>

      </div>
    </div>
  </div>  

  <div class="col-md-3">
      <!--Panel 1-->
      <div class="card card-body mb-3">
        <div class="row">
          <div class="col-sm-12">
              <img class="" style="width: 100%" src="/assets/ethernet.png" />
          </div> 
        </div>
        <br>
        <h4 class="card-title mb-0"> Plugin: {{ plugin.name }} </h4>
        <p class="card-text">Version: {{ plugin.version }} by @{{ plugin.author }}</p>
        <p class="card-text">Description:<br>{{ plugin.description }}</p>
        <div class="row">
        <div class="col-sm-4">
          <button class="btn btn-primary mt-0 mb-0" (click)="a" >Install</button>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary mt-0 mb-0" (click)="a" >Edit</button>
          </div>
          <div class="col-sm-3">
              <button class="btn btn-primary mt-0 mb-0" (click)="a" >Uninstall</button>
            </div>
  
        </div>
      </div>
    </div> 

    <div class="col-md-3">
        <!--Panel 1-->
        <div class="card card-body mb-3">
          <div class="row">
            <div class="col-sm-12">
                <img class="" style="width: 100%" src="/assets/ethernet.png" />
            </div> 
          </div>
          <br>
          <h4 class="card-title mb-0"> Plugin: {{ plugin.name }} </h4>
          <p class="card-text">Version: {{ plugin.version }} by @{{ plugin.author }}</p>
          <p class="card-text">Description:<br>{{ plugin.description }}</p>
          <div class="row">
          <div class="col-sm-4">
            <button class="btn btn-primary mt-0 mb-0" (click)="a" >Install</button>
          </div>
          <div class="col-sm-3">
              <button class="btn btn-primary mt-0 mb-0" (click)="a" >Edit</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary mt-0 mb-0" (click)="a" >Uninstall</button>
              </div>
    
          </div>
        </div>
    </div> 

    <div class="col-md-3">
          <!--Panel 1-->
          <div class="card card-body mb-3">
            <div class="row">
              <div class="col-sm-12">
                  <img class="" style="width: 100%" src="/assets/ethernet.png" />
              </div> 
            </div>
            <br>
            <h4 class="card-title mb-0"> Plugin: {{ plugin.name }} </h4>
            <p class="card-text">Version: {{ plugin.version }} by @{{ plugin.author }}</p>
            <p class="card-text">Description:<br>{{ plugin.description }}</p>
            <div class="row">
            <div class="col-sm-4">
              <button class="btn btn-primary mt-0 mb-0" (click)="a" >Install</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary mt-0 mb-0" (click)="a" >Edit</button>
              </div>
              <div class="col-sm-3">
                  <button class="btn btn-primary mt-0 mb-0" (click)="a" >Uninstall</button>
                </div>
      
            </div>
          </div>
        </div> 

        <div class="col-md-3">
            <!--Panel 1-->
            <div class="card card-body mb-3">
              <div class="row">
                <div class="col-sm-12">
                    <img class="" style="width: 100%" src="/assets/ethernet.png" />
                </div> 
              </div>
              <br>
              <h4 class="card-title mb-0"> Plugin: {{ plugin.name }} </h4>
              <p class="card-text">Version: {{ plugin.version }} by @{{ plugin.author }}</p>
              <p class="card-text">Description:<br>{{ plugin.description }}</p>
              <div class="row">
              <div class="col-sm-4">
                <button class="btn btn-primary mt-0 mb-0" (click)="a" >Install</button>
              </div>
              <div class="col-sm-3">
                  <button class="btn btn-primary mt-0 mb-0" (click)="a" >Edit</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary mt-0 mb-0" (click)="a" >Uninstall</button>
                  </div>
        
              </div>
            </div>
          </div> 

          <div class="col-md-3">
              <!--Panel 1-->
              <div class="card card-body mb-3">
                <div class="row">
                  <div class="col-sm-12">
                      <img class="" style="width: 100%" src="/assets/ethernet.png" />
                  </div> 
                </div>
                <br>
                <h4 class="card-title mb-0"> Plugin: {{ plugin.name }} </h4>
                <p class="card-text">Version: {{ plugin.version }} by @{{ plugin.author }}</p>
                <p class="card-text">Description:<br>{{ plugin.description }}</p>
                <div class="row">
                <div class="col-sm-4">
                  <button class="btn btn-primary mt-0 mb-0" (click)="a" >Install</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary mt-0 mb-0" (click)="a" >Edit</button>
                  </div>
                  <div class="col-sm-3">
                      <button class="btn btn-primary mt-0 mb-0" (click)="a" >Uninstall</button>
                    </div>
          
                </div>
              </div>
            </div> 

            <div class="col-md-3">
                <!--Panel 1-->
                <div class="card card-body mb-3">
                  <div class="row">
                    <div class="col-sm-12">
                        <img class="" style="width: 100%" src="/assets/ethernet.png" />
                    </div> 
                  </div>
                  <br>
                  <h4 class="card-title mb-0"> Plugin: {{ plugin.name }} </h4>
                  <p class="card-text">Version: {{ plugin.version }} by @{{ plugin.author }}</p>
                  <p class="card-text">Description:<br>{{ plugin.description }}</p>
                  <div class="row">
                  <div class="col-sm-4">
                    <button class="btn btn-primary mt-0 mb-0" (click)="a" >Install</button>
                  </div>
                  <div class="col-sm-3">
                      <button class="btn btn-primary mt-0 mb-0" (click)="a" >Edit</button>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary mt-0 mb-0" (click)="a" >Uninstall</button>
                      </div>
            
                  </div>
                </div>
              </div> 
</div>